{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col my-5">
                <h2>Add Items</h2>
                <form action="{% url 'add_do' %}" method="post">
                    {% csrf_token %}
                  <div class="form-row align-items-center">
                    <div class="col-sm-8 my-1">
                      <label class="sr-only" for="inlineFormInputName">Name</label>
                      <input type="text" name="content" class="form-control" placeholder="What to do?">
                    </div>
                    <div class="col2-sm-2 my-1">
                      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                      <select class="custom-select mr-sm-2">
                        <option>Filter</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="col-sm-2 my-1">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="list-group">
                    {% for items in todo_items %}
                      <li class="list-group-item">{{ items }}
                          <div class="float-right">
                            <form class="" action="{% url 'delete_do' items.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                          </div>
                      </li>

                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>
{% endblock content %}
